.body{
    height: 100vh;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .login-card{
    width: 420px;
    height: 300px;
    background-color: rgb(62, 199, 21);
    align-items: center;
    justify-content: center;
    vertical-align: auto;
  }
  .login-card p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 600;
  }
  .login-button{
    width: 60%;
    height: 24px;
    background-color: aliceblue;
  }
  .loginSpotify:hover{
    cursor: pointer;
  }